<!DOCTYPE html>
<!--suppress ALL -->
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
</head>
<body>
{% with messages = get_flashed_messages(with_categories=True) %}
{% if messages %}
<ul>
    {% for category, message in messages %}
    <li class="{{ category }}">{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
<h1>Login</h1>
<form method="POST">
    <label for="username_or_email">Username/Email:</label>
    <input type="text" id="username_or_email" name="username_or_email" required>
    <br>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Login</button>
    <a href="/forgot_password">Forgot Password</a>
    <a href="/register">Register</a>
</form>
{% with messages = get_flashed_messages() %}
{% if messages %}
<ul>
    {% for message in messages %}
    <li>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
{% endwith %}
</body>
</html>
